*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: underline;
    color: #e1e1e1;
}

a:hover {
    text-decoration: underline;
    color: #d72c4e;
    transition: color 0.3s;
}

header {
    background-color: #222;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    padding: 20px;
}

.footer {
    text-align: center;
    background-color: #222;
    padding: 10px 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.form-contact {
    margin: 0 auto;
    padding: 10px;
    background-color: #444444;
    border-radius: 5px;
    box-shadow: 0 0 10px 16px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

.form-contact-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.form-contact-input-text {
    background: #ffffff !important;
    margin-bottom: 10px;
    padding: 10px;
    font-family: inherit;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.form-contact-input-text:focus {
    background: #ffffff !important;
    outline: 2px solid #71caff;
    border-radius: 20px;
}

.form-contact-input-textarea {
    background: #ffffff !important;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    resize: none;
    font-size: 18px;
    font-family: inherit;
    outline: none;
}

.form-contact-input-textarea:focus {
    background: #ffffff !important;
    outline: 2px solid #71caff;
}

.form-contact-input-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.form-contact-input-submit:hover {
    background-color: #0056b3;
}
