{% extends 'my_app/base.html' %}

{% block content %}
    <div class="container">
        <!-- Content here -->
        <form action="" method="post" class="form-contact">
            {% csrf_token %}
            <label class="form-contact-label" for="name">Name</label>
            <input class="form-contact-input-text" type="text" name="name" id="name">

            <label class="form-contact-label" for="email">Email</label>
            <input class="form-contact-input-text" type="text" name="email" id="email">

            <label class="form-contact-label" for="message">Message</label>
            <textarea class="form-contact-input-textarea" name="message" id="message" cols="30" rows="10"></textarea>
            <input class="form-contact-input-submit" type="submit" value="Send">
        </form>
    </div>
{% endblock %}
