{% extends 'my_app/base.html' %}
{% block content %}
    <main class="main">
        <h1>Язык программирования Python</h1>
        <p>Python - это высокоуровневый, интерпретируемый язык программирования с динамической семантикой. Он часто
            используется для разработки веб-приложений, научных исследований, и других задач.</p>

        <h1>Фреймворк Django</h1>
        <p>Django - это бесплатный и открытый фреймворк для разработки веб-приложений на языке Python. Он предоставляет
            множество инструментов и библиотек для упрощения процесса разработки.</p>
    </main>
{% endblock %}
